[2019-10-30 15:22] benmonro opened #1 "contributors"
@allcontributors please add @benmonro for docs, code, examples, tests

[2019-10-31 08:29] nickmccurdy opened #2 "Consider merging into eslint-plugin-testing-library"
Considering that `@testing-library/dom` and `@testing-library/react` have significantly more downloads on npm than `@testing-library/jest-dom`, I'd guess that most `jest-dom` users are already using one of the other `@testing-library` packages.

As a result, it may be helpful to merge efforts with the [`eslint-plugin-testing-library`](https://github.com/Belco90/eslint-plugin-testing-library) proje

[2019-10-31 09:09] nickmccurdy commented on #1
It seems like you need to set up the bot manually: https://allcontributors.org/docs/en/bot/installation

[2019-10-31 12:26] benmonro commented on #2
@nickmccurdy yeah this actually started from that but for a number of reasons it made more sense to be decoupled from that plugin

[2019-10-31 12:26] #2 closed

[2019-10-31 12:28] benmonro commented on #1
@nickmccurdy looks like only an org owner can add it.  @kentcdodds  can you add all contributors to this repo?

[2019-10-31 22:07] kentcdodds commented on #1
@allcontributors please add @benmonro for docs, code, examples, tests

[2019-10-31 22:07] kentcdodds commented on #1
It should ben enabled for all repos in the org

[2019-10-31 22:12] benmonro opened #7 "feature: prefer toBeEmpty"
report on `expect(element.firstChild).toBeNull()` and potentially autofix to `expect(element.firstChild).toBeEmpty()`

@gnapse thoughts on this one?

[2019-10-31 22:40] benmonro commented on #1
@allcontributors please add @nickmccurdy  for code, docs and tests

[2019-11-01 11:55] gnapse commented on #7
Could be. Though technically the implementation of `toBeEmpty` is about detecting if `element.innerHTML === ''`. Other cases that come to mind that could be better described with `toBeEmpty`:

[code]

Also, I think what you meant above is that the original `expect` should be converted to `expect(element).toBeEmpty()`, right? Because right now it says `expect(element.firstChild).toBeEmpty()`.

[2019-11-01 13:32] benmonro commented on #7
Yes that's what I meant. I'm converting enzyme tests to RTL and that's what they were doing

[2019-11-01 14:35] gnapse commented on #7
Ok. In anycase, yes, a rule like this makes sense.

[2019-11-04 03:00] jannisg opened #10 "Rules are not found in release `1.1.1`"
With my `.eslintrc.js` file as follows:

[code]

I am getting an error (for each rule) of

[code]

where `XXX` refers to all of the rules from this plugin (`prefer-checked`, `prefer-enable-disable`, and `prefer-required`)

---

Downgrading my `eslint-plugin-jest-dom` to version `1.1.0` fixes this issue and linting works as expected.

[2019-11-04 12:56] benmonro commented on #10
@gnapse  can you look into this?  I think the auto generated thing may be causing an issue here

[2019-11-04 14:57] gnapse commented on #10
Not sure why you ask me, as I really have no idea about the auto generated thing. A quick search in the PRs suggests we should involve @nickmccurdy in the conversation, given his contribution in #4.

[2019-11-04 14:59] benmonro commented on #10
Oops sorry. Picked the wrong name from the drop down.  My apologies

[2019-11-04 15:18] nickmccurdy commented on #10
What's your version of `requireindex`? You can check with `npm ls requireindex` or `yarn why requireindex`. If it's at least 1.2.0 this should work, in which case it's an issue with publishing the package.

[2019-11-04 15:22] gnapse commented on #10
No problem. Glad to be involved anyway.

[2019-11-04 16:18] benmonro commented on #1
@allcontributors please add @gnapse for docs

[2019-11-04 16:22] #1 closed

[2019-11-04 17:54] nickmccurdy commented on #10
Whoops, looks like I forgot to add the package name prefix, sorry about that. PR incoming.

[2019-11-04 22:00] jannisg commented on #10
Thanks @nickmccurdy :)

I have just upgraded my project to use `1.1.2` and can confirm this has been fixed. 🎉

Different timezone so just got back into this, FWIW, my `requireindex` version was indeed at `1.2.0`.

[2019-11-04 22:00] #10 closed

[2019-11-06 15:48] benmonro commented on #10
:tada: This issue has been resolved in version 1.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v1.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-06 15:50] benmonro commented on #10
@jannisg actually 1.1.2 was a revert of 1.1.1.  1.1.3 is the actual fix, would you mind giving it a spin to ensure it's working for you?

[2019-11-12 21:12] jannisg commented on #10
@benmonro Upgraded my project to `1.1.3` and it's all working as expected. 🎉

[2019-11-13 16:14] benmonro opened #14 "handle expect(element.checked).toBeTruthy();"
the prefer toBeChecked Rule should handle this case.

[2019-11-13 16:54] benmonro opened #15 "new rule prefer-to-have-value"
would be nice to have an auto fix rule that converts `toHaveAttribute('value', 'foo')` to `toHaveValue('foo')`
should also handle `expect(element.value).toBe("foo")`

[2019-12-15 23:51] #14 closed

[2019-12-17 03:22] benmonro opened #20 "New rule prefer to have class"
Will auto fix direct checks for className to use toHaveClass

[2020-01-13 18:43] #7 closed

[2020-01-13 18:58] benmonro commented on #7
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/2.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-23 08:23] 10xjs opened #27 "Crashes when used with @typescript-eslint/parser"
Using this plugin in combination with `@typescript-eslint/parser` results in a crash with a `Fix objects must not be overlapped in a report.` error under certain conditions.

I have tracked the issue to the implementation of the `prefer-focus` rule and the use of apparently non-standard `.start` and `.end` fields.

This appears to be a solution to the same issue: https://github.com/jest-community/

[2020-02-15 18:18] benmonro commented on #27
@10xjs would welcome a PR if you want to take a stab at it.

[2020-02-26 00:13] goepi opened #29 "Why is kcd-scripts a dependency?"
I found this library on the list of examples of repos that use `kcd-scripts`. I see it as a dependency in `package.json`, but don't see it used anywhere else. Why or how is it actually used in this repo?

[2020-02-26 00:39] zorfling commented on #27
@benmonro @10xjs - I just ran into this same issue so opened #30 to fix it based the eslint-plugin-jest PR above.

[2020-02-26 00:51] benmonro commented on #29
yeah good call out, i think it was used when i first set it up but just not anymore.  we should remove it.

[2020-02-26 00:57] #27 closed

[2020-02-26 00:59] benmonro commented on #27
:tada: This issue has been resolved in version 2.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/2.0.1)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v2.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-02-26 01:01] benmonro commented on #27
Thanks so much for fixing this @zorfling, really appreciate it.

[2020-04-22 02:35] benmonro opened #35 "New rule to have text comment"
Prefer use toHaveTextContent over checking Dom props

[2020-04-22 18:33] benmonro commented on #20
fixed in #37

[2020-04-22 18:33] #20 closed

[2020-05-06 14:16] #29 closed

[2020-05-06 14:20] benmonro commented on #35
fixed in #37

[2020-05-06 14:20] #35 closed

[2020-05-06 21:33] gnapse opened #43 "toBeChecked suggested to replace check for aria-checked="mixed""
- `eslint-plugin-jest-dom` version: 2.1.0

Relevant code or config

[code]

What you did:

I want to assert that the checked status is "mixed". It generally is only "true" or "false", but it can also be "mixed".

What happened:

The rule to prefer `toBeChecked` kicked in, but I cannot assert what I want with that custom matcher.

Suggested solution:

I think we need to either make an exception her

[2020-05-06 21:43] benmonro commented on #43
hmm interesting, wasn't aware of that.  I'd say there are a few options
1) maybe open a PR on jest-dom to add support for `toBeChecked('mixed')` then this plugin can use that.
2) just look for that special case in this plugin
3) yeah just disable it for that line.

I'd prefer to do 1 or 2, but don't have the cycles right now if you'd like to open a PR.

[2020-05-06 21:50] benmonro commented on #15
@MichaelDeBoey any interest in implementing this one? now that you're all active on here? :)

[2020-05-06 21:55] MichaelDeBoey commented on #15
I’m happy to help out if you could point me into the right direction.
I have no experience what so ever creating with linting rules and fixes for a certain rule, but I think it can be interesting to learn how to do it 🙂

[2020-05-06 22:04] benmonro commented on #15
yeah its a lot easier than you think.  number 1. www.astexplorer.net is your best friend.  you will probably use it as much or more than your IDE.

if you go there and choose 'Eslint' from your transform, you should get a basic example like this:

![image](https://user-images.githubusercontent.com/399236/81232636-17849a80-8faa-11ea-8c24-fc45944e1bf1.png)

in that window your top left is your input

[2020-05-06 22:05] gnapse commented on #43
Yup, I thought something along the lines of no. 1, could work. Will propose it in jest-dom.

[2020-05-06 22:07] benmonro commented on #15
one thing to note.  the keys of the object you return can actually be selectors, you may have seen some of this in the code i already wrote.

i.e. ```
{
 [`CallExpression[node.name='foo']`]{ ... }
}
[code]

[2020-05-09 00:53] MichaelDeBoey opened #45 "Support ESLint 7.x"
ESLint v7.0.0 is [released](https://eslint.org/blog/2020/05/eslint-v7.0.0-released) 🎉

It would be awesome to have official ESLint 7 support. 👊
I'm happy to help where I can of course 🙂

[2020-05-18 22:07] pustovalov opened #47 "jest-dom/prefer-checked applies to plain object"
- `eslint-plugin-jest-dom` version: 2.1.0
- `node` version: 14.2.0
- `yarn` version: 1.22.4

Relevant code or config

[code]

What happened:

rule `jest-dom/prefer-checked` changed code to:
[code]

[code]

Is this expected behavior?

[2020-05-19 22:11] gnapse commented on #43
We now have `.toBePartiallyChecked` as of v5.8.0 just released. See testing-library/jest-dom#249.

So this issue can be now about making the eslint plugin aware of this for as a replacement for `.toHaveAttribute("aria-checked", "mixed")`.

[2020-05-20 12:37] benmonro commented on #47
@pustovalov yes. This was a trade-off?  Unfortunately there's no way to statically determine if it is a Dom element or not.  I recommend using eslint disable for this.

[2020-05-20 12:44] #47 closed

[2020-05-20 12:48] benmonro commented on #43
Care to open a PR @gnapse ?

[2020-05-20 13:02] pustovalov commented on #47
@benmonro maybe need to change this one?
https://github.com/testing-library/eslint-plugin-jest-dom#supported-rules

`indicates that a rule is recommended for all users.`

[2020-05-21 20:46] joeycozza opened #49 "prefer-checked fix is negating the resulting function when I believe it shouldn't be"
- `eslint-plugin-jest-dom` version: 2.1.0
- `node` version: 12.16.3
- `npm` version: 6.14.5

I have the following code
[code]
![Screen Shot 2020-05-21 at 2 16 47 PM](https://user-images.githubusercontent.com/3885959/82603926-b09dde80-9b70-11ea-941f-1e0d4b27a8cd.png)

The plugin wants to change it to
[code]

The value I'm expecting is 'true' as a string, and not a boolean. The --fix for this rule i

[2020-05-22 09:21] benmonro commented on #49
Interesting.  I will look into those one thank you for reporting

[2020-05-22 09:25] benmonro commented on #47
@pustovalov i thought about that.  In fact I ran into this issue myself but i still believe the role would be recommended since jest will fail if the element is not a Dom element.  You might consider opening a ticket on jest Dom top remove that part of the matcher...

[2020-06-08 11:14] benmonro commented on #49
@joeycozza apologies u haven't had a chance to look into this. Any chance you could take a stab and open a PR?

[2020-06-11 14:42] #45 closed

[2020-06-11 14:46] benmonro commented on #45
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-11 14:46] benmonro commented on #29
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.0.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-11 16:45] #49 closed

[2020-06-11 16:48] benmonro commented on #49
:tada: This issue has been resolved in version 3.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.0.1)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-13 17:08] wKovacs64 commented on #45
Out of curiosity, is there a reason this now *requires* ESLint v7 rather than just adds support for it in addition to v6?

[2020-07-02 22:17] RIP21 opened #51 "Rule jest-dom/prefer-to-have-text-content autofix breaks code"
- `eslint-plugin-jest-dom` version: 3.0.1
- `node` version: 12.16.1
- `npm` version: 6.13.4

This
[code]
Turns into
[code]

[2020-07-02 22:32] RIP21 opened #52 "Rule jest-dom/prefer-to-have-attribute autofix breaks the code"
- `eslint-plugin-jest-dom` version: 3.0.1
- `node` version: 12.16.1
- `npm` version: 6.13.4

Turns this
[code]
Into this
[code]

[2020-07-02 22:48] RIP21 opened #53 "Rule jest-dom/prefer-to-have-text-content autofix handles regexes improperly"
- `eslint-plugin-jest-dom` version: 3.0.1
- `node` version: 12.16.1
- `npm` version: 6.13.4

This
[code]
Turns into
[code]

[2020-07-02 23:06] nickmccurdy commented on #53
@all-contributors add @RIP21 for bug

[2020-07-03 12:52] benmonro commented on #51
Yikes thanks for reporting. Mind opening a pull request?

[2020-07-03 12:54] benmonro commented on #52
Yikes thanks for reporting. Mind opening a pull request?

[2020-07-06 01:26] ljosberinn opened #55 "Rule jest-dom/prefer-empty - toBeEmpty is deprecated"
- `eslint-plugin-jest-dom` version: 2.0.1
- `jest` version: 26.1.0
- `node` version: 13.9.0
- `npm` version: 6.13.7

Relevant code or config

What you did: Tried to use `expect(container.innerHTML).toBe('')` which got autofixed to `expect(container).toBeEmpty()`

What happened: Jest notes that this method has been deprecated.

![image](https://user-images.githubusercontent.com/29307652/86547052-e2

[2020-07-06 02:11] benmonro commented on #55
Oh nice thank you for reporting. Mind opening a PR for this?

[2020-07-06 07:50] #55 closed

[2020-07-06 13:30] RIP21 commented on #52
@benmonro I wish I have free time for that and familiarity with the codebase and ESLint instruments for AST stuff :) (I'm familiar with Babel mostly)
Anyway, will see, maybe I'll have motivation to do that :)

Any resources you recommend to check out to get up to speed quickly?

[2020-07-06 13:33] benmonro commented on #52
@RIP21 i personally like www.astexplorer.net as a playground.  In fact I do most of my work in that then move it into vscode from there.  Other than that the eslint docs are pretty good too.

[2020-07-06 13:44] RIP21 commented on #52
@benmonro sure, it's impossible to work with AST without it (the explorer) :D
Okay, nothing new then. Babel documentation is a little meh and you really need to be stubborn to finally find something good about their AST instruments not just about plugins etc. that's why I'm asking :)

[2020-07-06 13:47] benmonro commented on #52
Yeah.  What I like about eslint is the query syntax.  It's very similar to a css selector but for Dom nodes instead.  Anyway if I have time I'll comment on the issue that I'm working on it but it might be a few days as I'm on a family vacation at the moment

[2020-07-06 18:48] RIP21 opened #58 "Rule jest-dom/prefer-checked false positive when non-inline arguments passed"
`eslint-plugin-jest-dom` version: 3.0.1
`node` version: 12.16.1
`npm` version: 6.13.4

This changes
[code]
to this
[code]
In this scenario, it should ignore fix completely and should not raise a warning about it as it's a valid use case.

[2020-07-06 18:56] benmonro commented on #58
Good catch.  I'd welcome a PR if you have cycles

[2020-07-06 18:57] RIP21 commented on #58
@benmonro sure as we discussed early this morning :D I've just applied fix on 400k+ codebase, so it was almost inevitable I will catch something :D Good for community :D

[2020-07-06 18:59] benmonro commented on #58
Ah sorry I'm on my phone didn't realize that was you.  Good stuff!

[2020-07-06 19:03] RIP21 opened #59 "testing-library/prefer-find-by fix to check if file still has usages of waitForElement and if not deletes it from imports"
Will be nice to add such improvement.

In the case of the scenario below

[code]
It should
[code]

[2020-07-06 19:14] RIP21 opened #60 "testing-library/prefer-find-by should fix only if RTL getter is called on MemberExpression"
**Problem description:**

If fix sees such code

[code]

It fixes it this way

[code]

This means the test will fail as `findByText` is undefined. Hence fix is destructive

**Suggested solution:**

In order to fix this, it will be nice to only apply fixes in case of RTL helper getter function called on other `MemberExpression`
e.g. `screen` typical usage or

[code]

or if a helper is imported by t

[2020-07-06 22:15] RIP21 opened #61 "jest-dom/prefer-empty wrong detection, and wrong fix."
- `eslint-plugin-jest-dom` version: 3.0.1
- `node` version: 12.16.1
- `npm` version: 6.13.4

Broken fix and detection
This is detected as error
[code]
Fixes to
[code]

[2020-07-08 14:42] RIP21 commented on #59
Just noticed that it's not related to `jest-dom` sorry for that! :)

[2020-07-08 14:42] #59 closed

[2020-07-08 14:42] RIP21 commented on #60
Just noticed that it's not related to `jest-dom` sorry for that! :)

[2020-07-08 14:42] #60 closed

[2020-07-08 14:43] RIP21 commented on #58
BTW there is the same behavior for prefer-focus. A bug for sure.

[2020-07-09 19:02] benmonro commented on #58
@RIP21 can you please open a separate issue for prefer-focus?  That's a different rule and I could use an example of that for the tests...

[2020-07-09 20:48] benmonro commented on #55
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-09 21:37] #61 closed

[2020-07-09 21:41] benmonro commented on #61
:tada: This issue has been resolved in version 3.1.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.1)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-10 15:40] #58 closed

[2020-07-10 15:43] benmonro commented on #58
:tada: This issue has been resolved in version 3.1.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.2)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-11 15:03] #52 closed

[2020-07-11 15:08] benmonro commented on #52
:tada: This issue has been resolved in version 3.1.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.3)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-12 00:43] #53 closed

[2020-07-12 00:44] #51 closed

[2020-07-12 00:44] benmonro commented on #51
fixed in 3.1.4

[2020-07-12 00:46] benmonro commented on #51
@all-contributors please add @RIP21 for bugs

[2020-07-12 00:48] benmonro commented on #53
:tada: This issue has been resolved in version 3.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.4)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-12 00:48] benmonro commented on #52
:tada: This issue has been resolved in version 3.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.4)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-07-12 00:50] benmonro commented on #61
@all-contributors please add @RIP21 for bugs

[2020-07-12 00:52] benmonro commented on #61
@RIP21 I believe all of the issues you reported should be fixed now.  Mind confirming in the latest release?

[2020-07-12 09:36] RIP21 commented on #61
@benmonro awesome. Thank you very much! You're legend :) I'll update on Monday and see how it goes :)

[2020-08-05 14:00] atsikov commented on #61
@benmonro I'm afraid this is not fully fixed. Template strings are not properly handled.
[code]
Still pops up as an error

[2020-08-05 14:56] benmonro commented on #61
@atsikov thank you for reporting, I hadn't considered that use case.  will have a fix published shortly

[2020-08-05 15:07] benmonro commented on #61
@atsikov fix released in 3.1.6 can you please update and let me know if it fixes your issue and/or any other issues I may have missed?  many thanks -Ben

[2020-08-05 16:29] atsikov commented on #61
Wow @benmonro that was fast! 🚀
Thanks a lot, template with params are now treated as non-empty values.

However it still shows an error in case template doesn't have params.
Sure it's not a common case, but probably worth fixing as well.
[code]

[2020-08-05 16:34] benmonro commented on #61
ah yeah ok that actually might take a bit more work, will have to look at that tonight, as a work around you can use `'` or `"` for now.

[2020-08-05 16:34] benmonro opened #72 "bug: handle template literals w/ no variables"
see https://github.com/testing-library/eslint-plugin-jest-dom/issues/61#issuecomment-669296431 for details

[2020-08-09 19:39] #72 closed

[2020-08-09 19:42] benmonro commented on #72
:tada: This issue has been resolved in version 3.1.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.1.7)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.1.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-08-09 19:45] benmonro commented on #61
@atsikov sorry for the delay, 3.1.7 should address your issue, but please do let me know if you find another!

[2020-08-26 15:10] benmonro opened #74 "New rule: prefer-to-have-style"
Create a new rule that auto-fixes `expect(el.style.foo).toBe("bar")` into `expect(el).toHaveStyle({foo:"bar"})`

[2020-08-26 15:23] benmonro opened #75 "new rule prefer-in-document"
new rule that will auto fix `expect(screen.get|query|findAllBy()).toHaveLength(1)` into `expect(screen.get|query|findBy()).toBeInTheDocument()
Relevant code or config

[2020-08-31 03:09] #74 closed

[2020-08-31 03:12] benmonro commented on #74
:tada: This issue has been resolved in version 3.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/eslint-plugin-jest-dom/v/3.2.0)
- [GitHub release](https://github.com/testing-library/eslint-plugin-jest-dom/releases/tag/v3.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-13 15:51] AntonNiklasson commented on #75
Hi there @benmonro 👋 I would like to give this a shot. Is it still relevant?

[2020-11-13 15:53] benmonro commented on #75
Yes it is!  Would gladly welcome a Contribution for this @AntonNiklasson !

[2020-11-13 17:10] AntonNiklasson commented on #75
Awesome! I'll give it a go during the weekend and update you on the progress.

[2020-11-22 19:03] AriPerkkio opened #97 "prefer-to-have-style: Cannot read property 'range' of undefined"
Hello, I'm testing stability of well known community ESlint plugins with `eslint-remote-tester`. This ESLint plugin seems to contain a rule which causes linter to crash. ESlint rules should not crash in any condition since this makes all valid linting problems disappear. If this is a false flag please let me know.

- `eslint-plugin-jest-dom` version: 3.2.4
- `node` version: v14.15.1
- `npm` versio

[2020-11-22 19:55] benmonro commented on #97
@all-contributors please add @AriPerkkio for bugs

[2020-11-22 19:56] benmonro commented on #97
@AriPerkkio eslint-remote-tester looks like a very cool tool, is that something that can be can run as part of CI on this project?

[2020-11-23 06:10] AriPerkkio commented on #97
Thanks for the interest @benmonro.

It definitely can be used as part of CI workflow! ESLint plugin projects like this could use it for smoke test step. On every pull request the CI could run the rules against 30-50 repositories and verify no crashes are encountered. Depending on the CI resources this should take about 30 mins. If you want there could also be a scheduled job checking stability aga

[2020-11-23 08:03] benmonro commented on #97
That's fantastic.  Yeah once a week sounds great. Can it just automatically create GitHub issues if it finds a problem during the weekly run?

[2020-11-23 14:06] AriPerkkio commented on #97
That's great idea but this is not supported out-of-the-box. Although I've been thinking about exposing the final results via `onLintComplete` hook in [the configuration file](https://github.com/AriPerkkio/eslint-remote-tester#eslint-remote-testerconfigjs). This way users could do anything they want with the results, e.g. create issues to Github.

I would imagine something like below could work:
[c

[2020-11-23 17:09] #97 closed

[2020-11-24 01:11] benmonro commented on #75
fixed in https://github.com/testing-library/eslint-plugin-jest-dom/pull/95

[2020-11-24 01:11] #75 closed

[2020-11-25 14:17] AntonNiklasson opened #104 "Bug: Rule prefer-in-document expects the argument to `expect` to be `CallExpression`"
- `eslint-plugin-jest-dom` version: `3.3.0`
- `node` version: `12.19.0`
- `npm` version: `6.14.8`

## Relevant code or config

[code]

## What happened:

[code]

## Suggested solution

I'll PR a fix for this shortly.

[2020-11-25 14:29] AntonNiklasson commented on #104
This adds a bit more complexity. Perhaps we should only lint on what we are sure to be the return value from a TL query? What about this case:

[code]

You probably don't want that fixed to `expect(user).not.toBeInTheDocument();`

Should we stick do linting on queries run within the `expect`? Or should this be extended to check any variables passed to `expect`?

[2020-11-25 14:59] benmonro commented on #104
Yes. We should only report on queries or variables we know come from them

[2020-11-29 23:41] benmonro opened #110 "expect.objectContaining support in toHaveStyle"
- `eslint-plugin-jest-dom` version:
- `node` version:
- `npm` version:

Relevant code or config

[code]

What you did:

What happened:
[code]

Reproduction repository:
https://github.com/testing-library/eslint-plugin-jest-dom/runs/1470632531?check_suite_focus=true

Problem description:

Suggested solution:

[2020-11-29 23:45] benmonro commented on #110
@AriPerkkio is it possible to configure the smoke test to only run against repositories that have `jest-dom` as a dependency?  It wouldn't make sense to run the smoke test against repos not using it.

[2020-11-30 09:15] AriPerkkio commented on #110
Sure it's possible. I've generated a list of ~500 repositories which have `jest-dom` as dependency. I'll setup PR later. Heads up, there's a lot of crashes coming from `prefer-in-document` and some from `prefer-to-have-style`.

When looking for ESLint crashes it doesn't really matter whether your target repositories have `jest-dom` as dependency or not. The goal is to run these ESLint rules throug

[2020-11-30 21:44] #104 closed

[2020-11-30 22:52] benmonro opened #114 "prefer-in-document handle AllBy queries"
Consider the following code:

Relevant code or config

[code]

Currently this will get auto-fixed to

[code]
It would be better to change the query to `getByText("foo")` as the current auto-fix will actually break tests.  same applies to query/find

[2020-11-30 22:52] benmonro commented on #114
@AntonNiklasson would you mind taking a look at this one? :)

[2020-12-02 01:05] #110 closed

[2020-12-02 01:05] #114 closed

[2020-12-02 05:51] benmonro commented on #15
fixed in 3.5.0

[2020-12-02 05:51] #15 closed

[2020-12-02 16:35] juzerzarif opened #117 "prefer-to-have-value having unintended effects"
- `eslint-plugin-jest-dom` version: 3.5.0
- `node` version: 10.22.0
- `npm` version: 6.14.6

Relevant code or config

[code]

What you did: ^

What happened: `Prefer .toHaveValue() over other attribute checks`

Problem description:
The new rule `prefer-to-have-value` is causing unintended warnings when checking the `value` key on objects that are not DOM elements.

Suggested solution:
I'm not sure

[2020-12-02 16:38] benmonro commented on #117
@juzerzarif thank you for reporting this.  that was quick, just published that rule last night. :). we have some options we can look at.  one is to use suggest instead of a fixer for objects like that.  would love to welcome a PR if you want to take a stab at it.

[2020-12-02 17:29] juzerzarif commented on #117
@benmonro That sounds like a good idea, what do you think of providing an option to pick between the rule providing a suggestion, fix, or just being off for `obj.value` since a suggestion would still cause a linting error. I can look into an implementation after work today

[2020-12-02 17:40] benmonro commented on #117
@juzerzarif that might work, another thought would be to check the assignment/value of the argument to make sure it's coming from a dom node. we did this in prefer-in-document: https://github.com/testing-library/eslint-plugin-jest-dom/blob/master/src/rules/prefer-in-document.js#L104-L126

perhaps we could just extract that out and use that?

[2020-12-02 23:05] juzerzarif commented on #117
@benmonro  That would be the best of both worlds, sounds like the way to go! I can mess around with it and see about a PR this weekend

[2020-12-04 05:36] benmonro commented on #117
@joeycozza another use case just occurred to me.  this is totally optional, but would be wonderful if you want to implement it.

basically, `toHaveValue` should really only be used with [`<input>, <select> and <textarea> elements`](https://github.com/testing-library/jest-dom#user-content-tohavevalue:~:text=value.%20It-,accepts%20%3Cinput%3E%2C%20%3Cselect%3E%20and%20%3Ctextarea%3E%20elements), so

[2020-12-04 18:16] joeycozza commented on #117
Did you mean to mention me on this? or was it just a misclick?

[2020-12-04 18:17] benmonro commented on #117
doh, yes it was sorry

[2020-12-05 18:13] juzerzarif commented on #117
@benmonro Are you saying it should still report an error if it is a different query than a `byRole('textbox')` or a `byRole('dropdown')`  but just not provide an autofix?

[2020-12-05 20:23] benmonro commented on #117
Yeah that's what I'm thinking

[2020-12-05 20:33] juzerzarif commented on #117
But since we're only reporting an error when the object being queried came from a testing library query, wouldn't the fix that the user would have to implement be pretty much the same as the fix that the autofix would provide? Like if you had queries similar to the ones in the docs https://github.com/testing-library/jest-dom#tohavevalue, wouldn't we want to autofix those too?

[2020-12-05 20:54] benmonro commented on #117
well, the problem is that the answer to your question is "maybe."  it kinda depends on the element.  You could do a suggest for those, but I think the fixer should only change code we can be certain won't have bad consequences. hopefully i'm making sense. :)

[2020-12-06 01:07] juzerzarif commented on #117
Ah, yeah that makes sense to me. I think a suggestion for the other cases is a good alternative

[2020-12-06 18:44] #117 closed

[2020-12-07 10:07] julienw opened #124 "Consider setting the dependency to @testing-library/dom as a peerDependency"
I noticed that the dependency to `@testing-library/dom` is a "hard" dependency, I think this is used in https://github.com/testing-library/eslint-plugin-jest-dom/blob/7b6f5243674b17b287dbfd5df8ae16ea022aeb76/src/queries.js only.

The problem is that we may end up having different versions and copies of `@testing-library/dom` in a project, with this plugin using a more recent / older version than t

[2020-12-07 14:20] benmonro commented on #124
Yeah I thought about that but to be honest that list hasn't changed in forever. Have you seen a specific problem related to this?

[2020-12-08 10:58] julienw commented on #124
Mainly I was surprised that in my project I had the dependency to 2 different versions for the library. I use "yarn-deduplicate" so they both resolved to the same version for me, but I'm not sure this is the case for every users. Moreover this makes it necessary to bump this dependency regularly in this project as well, which can be a (small) burden. This is only a few kB but well...

[2020-12-08 14:35] AriPerkkio opened #127 "createBannedAttributeRule: Cannot destructure property `object` of 'undefined' or 'null'"
- `eslint-plugin-jest-dom` version: 3.6.3
- `node` version: 14.15
- `npm` version: 6.14.8

Relevant code or config

Use case: Users keeps snippet of test case block template ready in the same file they are currently working on. Linting results are lost due to linter crashing on `expect().toBe()`.

[code]

What you did:

`./node_modules/.bin/eslint`

What happened:

[code]

Reproduction repository:

[2020-12-18 22:33] benmonro opened #131 "don't report on getByRole("radio") for to-have-value"
Relevant code or config

[code]

What you did:
no error reported since you can't use `.toHaveValue` on radio buttons.

What happened:
error was reported.

Reproduction repository:

Problem description:

Suggested solution:

[2020-12-18 22:34] benmonro commented on #131
@juzerzarif any chance you might be able to have a look at this issue?

[2020-12-19 16:14] juzerzarif commented on #131
Oh looks like I missed some test cases 😵. I can definitely take a look @benmonro

[2020-12-24 20:57] juzerzarif commented on #131
@benmonro Sorry it took me a while to get to this. Looked into it and it looks like it reports an error with a suggestion which would be "intended" behavior for that rule as it's written. But I agree that it shouldn't report an error for a radio button so we could add exceptions for specific roles. Did you have any other roles in mind that we should ignore?

[2020-12-24 21:03] benmonro commented on #131
Hi @juzerzarif  yeah imo we should basically follows the docs on Jest dom:

[2020-12-24 21:08] juzerzarif commented on #131
Gotcha, I think the implementation could be updated to just report on the nodes that `toHaveValue` explicitly accepts and we could get rid of the suggestions entirely. I can put up a quick PR today/tomorrow if you're cool with that @benmonro.

[2020-12-24 21:29] benmonro commented on #131
Yeah sure thank you

On Thu, Dec 24, 2020 at 1:09 PM Juzer Zarif <notifications@github.com>
wrote:

--
Ben Monro
Software Developer

[2020-12-28 18:39] #131 closed

[2021-03-22 14:43] julienw opened #152 "match `toBe(null)` and possibly `toEqual(null)` in addition to `toBeNull`"
In a few rules (eg: `prefer-document`) `toBeNull()` will be replaced by `toBeInTheDocument()` which is nice.

Is it possible to match `toBe(null)` and `toEqual(null)` as well?

Thanks!

[2021-03-22 19:27] benmonro commented on #152
Should be. Care to open a PR?

[2021-03-23 15:05] julienw commented on #152
TBH I would love to, but I don't know how to write eslint rules. If you know similar examples I could have a look, but for now I looked at the source code for this rule and I have no idea how to change that...

[2021-03-23 15:18] benmonro commented on #152
for sure, it's a great skill to learn and once you do it's actually a ton of fun!  The [docs on eslint](https://eslint.org/docs/developer-guide/working-with-rules) are a good placed to start.  A thing to note, the function names are AST selectors (think CSS selectors, but for code).  that may seem strange, but consider this code:

[code]
then consider that this function can use the shorthand notat

[2021-03-23 16:05] julienw commented on #152
Thanks for the pointers, I think I managed to do something.

[2021-03-23 16:47] #152 closed

[2021-03-29 13:32] #124 closed

[2021-04-24 01:56] #127 closed

[2021-04-26 05:13] G-Rath commented on #114
I could be missing something here, but it seems like you can't use AllBy queries with `toBeInTheDocument`?

My situation is that I'm testing pagination on a table, so I'm moving to the next page and then using `screen.queryAllByText` to find "all" of some test text (that's used for targeting).

It just so happens that in the resulting page, there is only one of these rows which triggers `prefer-in

[2021-04-26 05:16] G-Rath commented on #114
Ah, I've found what I'm missing: the fixer changes it to be `queryByText` as well as modifying the `toHaveLength`.

Personally, I'm on the fence about this because as far as I can tell, there isn't any other way to verify that something is only present once, so you can't avoid triggering an eslint rule (either `prefer-to-have-length` or `prefer-in-document`).

[2021-05-10 14:21] nstepien opened #171 "prefer-in-document: `.toHaveLength(1)` vs `.toBeInTheDocument()`"
- `eslint-plugin-jest-dom` version: 3.8.1
- `node` version: 16.1.0
- `npm` version: 7.11.1

Relevant code or config

[code]

What you did:
I want to ensure there is only one `option`.

What happened:

The rule wants this to be
[code]

Reproduction repository:

Problem description:
It's not the same thing! I cannot assert that there is only one `option` now.

Suggested solution:
`prefer-in-document

[2021-05-15 17:59] johan opened #175 "Slip in `eslint --fix` rule for `jest-dom/prefer-to-have-style`"
- `eslint-plugin-jest-dom` version: 3.8.1
- `node` version: v12.18.3
- `npm` version: 6.14.6

Relevant code or config

[code]

What you did: I ran `eslint --fix`

What happened: It auto-corrected to the non-equivalent:

[code]

Reproduction repository: Not available.

Problem description: The current behaviour is correct for values `null` and `undefined`; I'd expect there's a falsey-ness slip, som

[2021-06-09 08:20] mdotwills commented on #175
@johan I think this will fix your issue: https://github.com/testing-library/eslint-plugin-jest-dom/pull/180

[2021-06-09 22:35] astorije commented on #171
Actually `expect(screen.queryAllByRole('option')).toHaveLength(1);` and `expect(screen.queryByRole('option')).toBeInTheDocument();` technically test the same thing, but semantically they do not represent the same thing, so it doesn't always make sense to use the `toBeInTheDocument` format.

For example, given the following test:

[code]

Here the test semantically represents counting the number of

[2021-06-10 14:35] nstepien commented on #171
I think `toHaveLength(0)` == `not.toBeInTheDocument()` is okay.

[2021-06-12 10:14] mdotwills commented on #171
@nstepien yes, makes sense to me.

Just one last subtly I wanted to ask about, and that is how best to handle queries which are expected to return exactly one vs queries which are expected to return one or more matches - e.g. `getBy*` vs `getAllBy*`? See the Summary Table [here](https://testing-library.com/docs/queries/about/).

As we have been discussing, this makes sense

[code]

but what about

[2021-06-12 10:23] nstepien commented on #171
I think it depends,
- it could be a mistake and the user actually intended to use `byAll`
- it's not a mistake, and in that case `toBeInTheDocument()` makes more sense

I'd say the rule should warn about it, and provide 2 suggestions, wdyt?
https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions

[2021-06-16 08:00] mdotwills commented on #171
I like your suggestion @nstepien 👍 I'll have a crack at implementing that

[2021-08-08 19:29] jonioni opened #188 "Update `@testing-library/dom` Dependency for the `v8` Release"
- `eslint-plugin-jest-dom` version: v3.9.0
- `node` version: N/A
- `npm` version: N/A

Relevant code or config: `package.json`

[code]

What you did: Install latest `@testing-library/dom@8.1.0`, `@testing-library/jest-dom@5.14.1`, and `eslint-plugin-jest-dom@3.9.0`.

What happened: https://github.com/testing-library/dom-testing-library/issues/963

[code]

Problem description:

`@testing-library/do

[2021-08-09 09:23] mdotwills commented on #171
Based on the discussion in this thread, I've put together this truth table of selector type vs assertion style:

| Selector type | .toBeInTheDocument()             | .toHaveLength(1)               | .toHaveLength(0)                         |
|---------------|----------------------------------|--------------------------------|------------------------------------------|
| (\*By\*)        | ✅ correct

[2021-09-04 17:09] MichaelDeBoey opened #190 "Support ESLint 8.x"
ESLint v8.0.0 is [released](https://eslint.org/blog/2021/10/eslint-v8.0.0-released) 🎉

It would be awesome to have official ESLint 8 support. 👊
I'm happy to help where I can of course 🙂

[2021-09-04 17:33] benmonro commented on #190
Hi Michael would welcome a PR on this.

[2021-09-11 16:46] benmonro commented on #188
done

[2021-09-11 22:15] dardanos opened #194 "v3.9.1 does not include the compiled code"
- `eslint-plugin-jest-dom` version: v3.9.1
- `node` version: 14.x
- `npm` version: 6.x

#### What you did:

Installed the last version of the library v3.9.1

#### What happened:

The library doesn't include the

#### Reproduction repository:

v3.9.0 includes the file: https://unpkg.com/eslint-plugin-jest-dom@3.9.0/dist/index.js
v3.9.1 doesn't https://unpkg.com/eslint-plugin-jest-dom@3.9.1/dist/ind

[2021-09-12 08:58] #194 closed

[2021-09-12 09:05] eps1lon commented on #194
Should be fixed in 3.9.2: https://unpkg.com/eslint-plugin-jest-dom@3.9.2/dist/index.js

[2021-09-12 12:35] nenadfilipovic opened #196 "Plugin does not work since v3.9.1"
- `eslint-plugin-jest-dom` version:3.9.2
- `node` version:14.17.5
- `npm` version: 6.14.14

Something changed from 3.9.0 (which works fine) to 3.9.1 and 3.9.2 that kills my eslint.
Here is config:

[code]

[code]

[2021-09-12 13:24] MichaelDeBoey commented on #196
Duplicate of #194

[2021-09-12 13:24] #196 closed

[2021-09-24 21:35] ricardozv28 opened #203 "Latest version not reporting/suggesting changes on disabled/value attributes"
- `eslint-plugin-jest-dom` version: 3.9.2
- `node` version: 14.17.6
- `npm` version: 6.14.15

Relevant code or config

[code]

What you did:
run eslint using `npm run eslint`

What happened:
eslint is not reporting suggested changes when using `.disabled` or `.value`

Reproduction repository:
https://github.com/ricardozv28/eslint-plugin-jest-dom-bug

Problem description:
When using the latest vers

[2021-11-18 01:57] weyert commented on #190
I think now with Node v10 support removed this PR can be merged?

[2021-11-20 21:36] G-Rath commented on #188
@benmonro I can't see where this is done? The dependency is still marked as requiring `^7.31.2` which doesn't allow v8; this is causing significant problems since I'm using `@testing-library/user-event` which has `@testing-library/dom` as a peer dependency that allows both v7 & v8 - the result is that `npm` is currently pulling in v7 of `@testing-library/dom` causing my tests to fail on v27 of `je

[2021-11-21 02:23] benmonro commented on #188
@G-Rath  sorry I'm not really able to provide  support any more.  I can give you admin if you want to provide a fix

[2021-11-21 02:29] G-Rath commented on #188
@benmonro no problem - I'm happy to help with support :)

[2021-11-21 02:32] benmonro commented on #188
Done. You are admin, thanks for the help @G-Rath

[2021-11-30 00:30] github-actions[bot] opened #229 "Results of weekly scheduled smoke test"
Detected 9 ESLint reports and/or crashes.
Scanned 7632 repositories.

Rules:
-   `prefer-in-document`
-   `prefer-to-have-value`

<details>
    <summary>Click to expand</summary>

## Rule: prefer-in-document

-   Message: `Cannot read property 'type' of undefined Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/CSCfi/etsin-finder/etsin_finder/f

[2021-12-07 07:33] ivanEremeev00 opened #232 "Wanna check '.checked' value from the argument using .toBe(true), but i'll get 'jest-dom/prefer-checked'"
- `eslint-plugin-jest-dom` version: 3.2.4
- `node` version: 14.16.1
- `npm` version: 6.14.12

Relevant code or config

[code]

What you did:
    Wanna check '.checked' value from the argument

What happened:
     I got this from eslint plugin:
       ` ESLint: Use toBeChecked() instead of checking .checked directly(jest-dom/prefer-checked)`
     But if I use it, I'll get this error from the test:

[2021-12-07 18:15] G-Rath commented on #232
That's something of a limitation of ESLint that we can't really improve on (aside from using type-checking, which we could do but wouldn't solve this for everyone since not everyone uses TypeScript).

Because we can't know anything about the type, we have to assume that with the way you're using the `checked` property that you're working with a DOM element.

Technically we could ease that restrict

[2021-12-19 00:34] G-Rath commented on #190
We were already supporting eslint v8, but now we're testing against it in CI to ensure we remain compatible thanks to #237, so this is resolved 🎉

[2021-12-19 00:36] G-Rath commented on #190
spoke too soon - #237 has our CI testing against multiple versions of ESLint, but doesn't include testing against v8 itself; that's handled by #200.

(We are still compatible with v8)

[2021-12-26 16:39] MichaelDeBoey commented on #229
Closed by #242 & #243

[2021-12-26 16:39] #229 closed

[2021-12-26 22:04] G-Rath commented on #175
@johan I think this is fixed - your code now gives `expect(screen.getByRole("alert")).toHaveAttribute("inert", "");` which looks correct to me.

Could you confirm if this is still an issue for you?

[2021-12-26 22:17] G-Rath commented on #203
It looks like at least for `prefer-to-have-value` we currently only support `*ByRole`:

https://github.com/testing-library/eslint-plugin-jest-dom/blob/ee6af993112ac73a4053294e2e55e7ff2ba926f9/src/rules/prefer-to-have-value.js#L35-L35

@benmonro @MichaelDeBoey do either of you know if there's a reason for that? My understanding is that all the queries return elements, so we should be ok to apply th

[2021-12-26 22:23] MichaelDeBoey commented on #203
@G-Rath It seems like this was first introduced by @juzerzarif in #122

[2021-12-26 22:28] juzerzarif commented on #203
I believe it was because `ByRole` queries are the only ones where we can be definitely sure that the element returned is an input element that has a `value` attribute (via the role specified). It was a while ago though so @benmonro can correct me if I'm wrong.

[2021-12-26 22:40] G-Rath commented on #203
@juzerzarif that makes sense - in that case if we want to keep it like that we should probably stick a note in the doc; could also be worth considering if we want to provide a `loose` option for people who'd prefer to risk the false positives.

(I imagine that's the case with a number of rules - could be interesting to see if optionally using type-checking if available could  let the rules be smar

[2021-12-26 23:54] #188 closed

[2021-12-27 07:56] benmonro commented on #203
Yeah adding a note to the docs makes sense to me

[2021-12-27 08:02] benmonro commented on #232
I'd recommend using lint disable for edge cases like this.

[2021-12-27 08:02] #232 closed

[2022-01-02 06:43] github-actions[bot] opened #249 "Results of weekly scheduled smoke test"
Detected 10 ESLint reports and/or crashes.
Scanned 9538 repositories.

Rules:
-   `prefer-in-document`

<details>
    <summary>Click to expand</summary>

## Rule: prefer-in-document

-   Message: `undefined is not iterable (cannot read property Symbol(Symbol.iterator)) Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/kristiyan-ASW-G-08/mern-red

[2022-01-02 20:27] #249 closed

[2022-01-04 19:41] johan commented on #175
Sweet, I see the same results as G-Rath with 4.0.1.

[2022-01-04 19:41] #175 closed

[2022-01-17 18:49] #190 closed

[2022-01-26 14:31] nstepien commented on #171
Got hit by this again today 😔

[2022-01-30 06:38] github-actions[bot] opened #256 "Results of weekly scheduled smoke test"
Detected 3 ESLint reports and/or crashes.
Scanned 6804 repositories.

Rules:
-   `jest-dom/prefer-to-have-style`

<details>
    <summary>Click to expand</summary>

## Rule: jest-dom/prefer-to-have-style

-   Message: `str.replace is not a function Occurred while linting /github/workspace/node_modules/eslint-remote-tester/.cache-eslint-remote-tester/capricorn86/happy-dom/packages/happy-dom/test/css

[2022-02-23 14:12] drichard-nexapp commented on #171
I got it by it today also. I'll try to open a PR to fix this

[2022-03-17 08:41] alessandrocapra opened #260 "Potentially wrong linting suggestion in jest-dom/prefer-in-document"
- "eslint-plugin-jest-dom": "^4.0.1",
- `node` version: 14.18.0
- `npm` version: 8.5.2

Relevant code or config

[code]

What you did:
- check code and comments above

What happened:
- I got a linting error suggesting to use `toBeInTheDocument` to assert existence of a node, but in this case I am using `queryByLabelText` and therefore I cannot use `toBeInTheDocument` to assert a null value.

Probl

[2022-03-19 23:46] G-Rath commented on #256
This is a bug that should be fixed - what I don't know though is if `expect(element).toHaveStyle('padding')` is valid or if it needs something like `padding: 5px`).

[2022-03-27 15:33] MichaelDeBoey commented on #256
@G-Rath seems like this one isn't fixed

[2022-04-23 05:23] ricardozv28 commented on #260
I think the suggestion is to use `toBeInTheDocument` with the negation property `.not`

[code]

Which personally, it reads better than `expect(screen.queryByLabelText("notification address copied")).toBeNull()`

[2022-05-19 21:15] G-Rath opened #264 "[prefer-to-have-style] support index accessing of `style`"
This was picked up in the smoke tests.

Currently `prefer-to-have-style` will error on indexed access of `style`, e.g.

[code]

It wants you to replace the above with:

[code]

~What I'm not sure is if that by itself is valid as [the examples for that matcher](https://github.com/testing-library/jest-dom#examples-15) only show complete CSS.~

Looking at our tests we have this case:

https://github.

[2022-05-20 02:06] G-Rath opened #265 "[prefer-to-have-style] error when attempting to fix with computed access of `el.style`"
[code]

This errors:

[code]

We should not provide a fixer for this case, because we can't determine if the matcher value is meant to be a property or a value (since the accessor could either be the name of a property, or the index of one) so can't correctly fix it.

e.g.

[code]

[code]

(because of #264)

[2022-05-21 20:56] #256 closed

[2022-05-21 20:56] #264 closed

[2022-10-08 08:50] SevenOutman commented on #171
Any update on this? Got positive on `findAllByRole` with `.toHaveLength(1)` when checking for "exactly one match".

[2022-10-08 22:43] G-Rath commented on #171
@SevenOutman PRs are welcome; reading over the comments I think its just wrong for this rule to be reporting on `toHaveLength(1)` for the same reason we don't report on on that matcher for any other value aside from 0: they're semantically not the same, and there's no reliable way that we can say for sure which matcher is the right one to be using.

I'd say that should be our first focus, and then

[2022-10-09 11:05] SevenOutman commented on #171
Sure. I've created a PR for it. :)

[2022-11-08 19:21] berkinanik opened #277 "prefer-in-document: toHaveLength with no args causing crash and commas arent removed if multiple args were there"
- `eslint-plugin-jest-dom` version: 4.0.2
- `node` version: 16.17.0
- `npm` version: 8.19.0

Relevant code or config

test for following component will fail since jest matcher toHaveLength doesn't have its required expected:number parameter:

[code]

but eslint will crash because: prefer-in-document rules makes it crash while parsing the code. since no argument is in the matcherArguments, matcherA

[2022-11-10 21:59] G-Rath commented on #277
Resolved by #276

[2022-11-10 21:59] #277 closed

[2022-11-10 22:06] G-Rath opened #278 "Remove Semantic Pull Request from CI checks since its no longer maintained"
See https://github.com/zeke/semantic-pull-requests - since its no longer maintained PRs no longer get a green tick since the status never gets reported by that check; since this is an app I believe someone who has more permissions on the `testing-library` organisation has to action this.

@MichaelDeBoey I'm going to assign this to you to start since you're the main member of `testing-library` who